*.quarto
/_site/
/_external/
/_quarto.yml.local
/.DS_Store
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.run.xml
*.tex
!includes/tikz-preamble.tex
!physics/field-solver/figures/current-space-charge-class-diagram.tex
!*.tikz.tex
*.toc


**/*.quarto_ipynb

/_*.local

/.quarto/
/node_modules/
/playwright-report/
/test-results/
