/*-- scss:defaults --*/
$primary: #72d3e0;
$secondary: #aab9c2;
$link-color: #80ddea;
$body-color: #e7f0f4;
$body-bg: #111a20;
$font-family-sans-serif: "Inter", "Avenir Next", "Segoe UI", sans-serif;
$headings-font-family: "Avenir Next", "Segoe UI", sans-serif;
